$primary-color: blue;
$secondary-color: lightblue;
$border-size: 3px;
$font-family-template: times;
$font-size: 16px;
$box-shadow-theme: 10px 2.5px 5px $primary-color;

@mixin change-color($primary-color) {
  $percentage: 25%;

  @for $i from 1 through 3 {
    .box.darken-#{$i} {
      background-color: darken($primary-color, $percentage * $i);
    }

    .box.lighten-#{$i} {
      background-color: lighten($primary-color, $percentage * $i);
    }

    .box.base-color {
      background-color: $primary-color;
    }
  }
}
.container {
  @include change-color($primary-color);
}
