<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise 3</title>
    <link rel="stylesheet" href="mystyle.scss" />
  </head>
  <body>
    <header>Lemoncode</header>
    <nav class="container-menu">
      <div class="item-menu">Home</div>
      <div class="item-menu">Blog</div>
      <div class="item-menu">Activities</div>
      <div class="item-menu">About me</div>
    </nav>
  </body>
</html>
