<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise 4</title>
    <link rel="stylesheet" href="mystyle.scss" />
  </head>
  <body>
    <div class="container-cards">
      <div class="card">
        <div class="card-img">
          <img
            src="https://free-images.com/or/ee8a/copenhagen_nyhavn_tourist_1120998.jpg"
            alt="A boat"
          />
        </div>
        <div class="card-text">
          <h1>Title 1</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
        <div class="publication-div">
          <p>Published: <a href="./" class="card__link">March 20, 2020</a></p>
        </div>
        <div class="card-button">
          <button class="my-button">More info</button>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img
            src="https://free-images.com/or/d46f/boats_reflections_royal_perth.jpg"
            alt="A boat"
          />
        </div>
        <div class="card-text">
          <h1>Title 2</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
        <div class="publication-div">
          <p>Published: <a href="./" class="card__link">March 20, 2020</a></p>
        </div>
        <div class="card-button">
          <button class="my-button">More info</button>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img
            src="https://free-images.com/or/5db0/a_boat_moves_through.jpg"
            alt="A boat"
          />
        </div>
        <div class="card-text">
          <h1>Title 3</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
        <div class="publication-div">
          <p>Published: <a href="./" class="card__link">March 20, 2020</a></p>
        </div>
        <div class="card-button">
          <button class="my-button">More info</button>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img
            src="https://free-images.com/or/549a/boats_chinese_boats_chinese.jpg"
            alt="A boat"
          />
        </div>
        <div class="card-text">
          <h1>Title 4</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
        <div class="publication-div">
          <p>Published: <a href="./" class="card__link">March 20, 2020</a></p>
        </div>
        <div class="card-button">
          <button class="my-button">More info</button>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img
            src="https://free-images.com/or/2c1f/boat_canal_boat_canal.jpg"
            alt="A boat"
          />
        </div>
        <div class="card-text">
          <h1>Title 5</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
        <div class="publication-div">
          <p>Published: <a href="./" class="card__link">March 20, 2020</a></p>
        </div>
        <div class="card-button">
          <button class="my-button">More info</button>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img
            src="https://free-images.com/or/8c96/boat_boat_life_summer.jpg"
            alt="A boat"
          />
        </div>
        <div class="card-text">
          <h1>Title 6</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
        <div class="publication-div">
          <p>Published: <a href="./" class="card__link">March 20, 2020</a></p>
        </div>
        <div class="card-button">
          <button class="my-button">More info</button>
        </div>
      </div>
    </div>
  </body>
</html>
