$primary-background-color: darkolivegreen;
$secondary-background-color: lemonchiffon;
$div-title-color: #b2c149;
$first-text-color: grey;
$second-text-color: white;
$card-background: whitesmoke;
$desktop-resolution: 767px;
$bigger-desktop-resolution: 1024px;
$first-font-family: Arial, Helvetica, sans-serif;
$second-font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
